In [2]:
import os
import json
import pandas as pd

In [120]:
def counting(path):
    cnt = 0
    data_dir = path

    for path in os.listdir(data_dir):
        if os.path.isfile(os.path.join(data_dir, path)):
            cnt += 1

    print(f'데이터 개수 = {cnt}')
    return cnt

## 용도별 목적 데이터 csv로 변환

In [134]:
target_path = "../원본데이터/용도별 목적대화 데이터/"

In [135]:
target_path_list = os.listdir(target_path)

In [136]:
target_path_list

['AS문의',
 '관광',
 '교통',
 '등록문의',
 '레저',
 '민원신고',
 '배송',
 '부서안내',
 '비용환불문의',
 '서류문의',
 '숙박',
 '식당',
 '온오프라인안내',
 '이벤트',
 '일정문의',
 '절차문의',
 '제품사용문의',
 '주문결제',
 '프로그램문의',
 '환불반품교환']

In [137]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path+target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수 = 2426
데이터 개수 = 2281
데이터 개수 = 899
데이터 개수 = 1806
데이터 개수 = 2313
데이터 개수 = 2833
데이터 개수 = 1945
데이터 개수 = 2093
데이터 개수 = 970
데이터 개수 = 2196
데이터 개수 = 1410
데이터 개수 = 1446
데이터 개수 = 2136
데이터 개수 = 990
데이터 개수 = 910
데이터 개수 = 2787
데이터 개수 = 2473
데이터 개수 = 1952
데이터 개수 = 2707
데이터 개수 = 1910
총 데이터 개수 = 38483

In [138]:
purpose = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path+target_path_list[i])
    for k in range(len(files)):
        final_path = str(target_path)+str(target_path_list[i])+"/"+str(files[k])
        try:
            target_file = open(f"{final_path}", encoding="UTF-8")
            target_file = json.loads(target_file.read())
            for j in range(len(target_file['info'][0]['annotations']['lines'])):
                purpose.append(target_file['info'][0]['annotations']['lines'][j]['norm_text'][2:])
        except:
            print(f"error! {final_path}")

error! ../원본데이터/용도별 목적대화 데이터/배송/shopping4_0842.json

In [139]:
len(purpose)

480494

In [140]:
purpose_df = pd.DataFrame({'text':purpose})

In [141]:
purpose_df.head()

                                      text
0                           네 많이 걱정하셨을 텐데요
1                 일단 기사가 다시 가서 확인을 좀 드릴거고요
2  일정 확인해 볼텐데 혹시  방문 시간대는 언제가 좀 편하시겠어요 고객님
3                        지금 이 지금 시간대가 좋은데요
4                          예 확인해 보겠습니다 고객님

In [142]:
purpose_df.tail()

                                              text
480489  좀 전에 환불 때문에 제가 통화를 했어요 한번 끊고나서 다시 전화 한 건데요
480490       아니 이걸 지금 제가 원 플러스 원이라고 하면서 지금 반도 아니고요
480491                              예 고객님 계속 말씀하세요
480492  뭐 거의 한 삼십 프로를 까고서 준다고 하는 거 같은데 이거는 말이 안 되죠
480493              저 이렇게 하면 소비자 고발 센터에다가 항의 할 거예요

In [143]:
purpose_df.to_csv("../변형데이터/용도별목적대화데이터.csv", index=False)

## 주제별 일상 대화 데이터 csv로 변환

In [54]:
target_path = "../원본데이터/주제별 일상 대화 데이터/"

In [55]:
target_path_list = os.listdir(target_path)

In [74]:
target_path_list

['TL_01. KAKAO',
 'TL_02. FACEBOOK',
 'TL_03. INSTAGRAM',
 'TL_04. BAND',
 'TL_05. NATEON']

In [57]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path+target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수 = 71651
데이터 개수 = 8002
데이터 개수 = 4800
데이터 개수 = 1631
데이터 개수 = 1606
총 데이터 개수 = 87690

In [88]:
ex = open(f"../원본데이터/주제별 일상 대화 데이터/TL_01. KAKAO/KAKAO_898_15.json", encoding="UTF-8")
ex = json.loads(ex.read())

In [89]:
ex['info'][0]['annotations']['lines'][7]['norm_text']

'장난 아니죠 ? ㅠ'

In [70]:
len(ex['info'][0]['annotations']['lines'])

26

In [76]:
target_path_list

['TL_01. KAKAO',
 'TL_02. FACEBOOK',
 'TL_03. INSTAGRAM',
 'TL_04. BAND',
 'TL_05. NATEON']

In [96]:
files = files = os.listdir(target_path+target_path_list[0])

In [97]:
target_path+target_path_list[0]+files[0]

'../원본데이터/주제별 일상 대화 데이터/TL_01. KAKAOKAKAO_1000_01.json'

In [103]:
target_path_list

['TL_01. KAKAO',
 'TL_02. FACEBOOK',
 'TL_03. INSTAGRAM',
 'TL_04. BAND',
 'TL_05. NATEON']

In [110]:
daily_conversations = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path+target_path_list[i])
    for k in range(len(files)):
        final_path = str(target_path)+str(target_path_list[i])+"/"+str(files[k])
        try:
            target_file = open(f"{final_path}", encoding="UTF-8")
            target_file = json.loads(target_file.read())
            for j in range(len(target_file['info'][0]['annotations']['lines'])):
                daily_conversations.append(target_file['info'][0]['annotations']['lines'][j]['norm_text'])
        except:
            print(f"error! {final_path}")

error! ../원본데이터/주제별 일상 대화 데이터/TL_01. KAKAO/KAKAO_1648_13.json

In [112]:
len(daily_conversations)

1445943

In [113]:
daily_conversations_df = pd.DataFrame({'text':daily_conversations})

In [114]:
daily_conversations_df.head()

                                  text
0                   애덜앙 나 너무 배불러서 배 아파
1           배 아프면 약국 가서 소화제라도 마시는 거 어때
2                      얼마나 먹었다고 배가 아프데
3            떡볶이랑 튀김이랑 닭껍질튀김이랑 마카롱 먹었어
4  하긴 *이 배는 파리보다 작으니까 당연히 그만큼 먹어도 배부르지

In [115]:
daily_conversations_df.tail()

                                                      text
1445938                     나는 이게 정신적인 문제와도 연결이 되는 거라고 생각해
1445939                    응 맞아 집에만 있으면 괜히 마음이 우울해지는게 있더라고
1445940           또 아이가 너무 어리니 일을 오랫동안 못하니 직장 알아보는것도 제한적이야
1445941  아이를 생각하면 엄마가 집에 있는게 좋고, 나를 생각하면 직장을 나가는게 좋고 너무...
1445942  맞아 그렇다보니 자연스레 여성임금이 낮아 질수 밖에 없고 전문적인 분야의 여성비율이...

In [116]:
daily_conversations_df.to_csv("../변형데이터/주제별일상대화데이터.csv", index=False)

## 일반상식 데이터 csv로 변환

In [3]:
common_sense = open(f"../원본데이터/ko_wiki_v1_squad.json", encoding="UTF-8")
common_sense = json.loads(common_sense.read())

In [4]:
len(common_sense['data'])

68538

In [5]:
common_sense['data'][0]

{'paragraphs': [{'qas': [{'question': '다테 기미코가 최초로 은퇴 선언을 한게 언제지',
     'answers': [{'answer_start': 260, 'text': '1996년 9월 24일'}],
     'id': '9_f2_wiki_2822-1'}],
   'context': "재팬 오픈에서 4회 우승하였으며, 통산 단식 200승 이상을 거두었다. 1994년 생애 최초로 세계 랭킹 10위권에 진입하였다. 1992년에는 WTA로부터 '올해 가장 많은 향상을 보여준 선수상'(Most Improved Player Of The Year)을 수여받았으며, 일본 남자 패션 협회(Japan Men's Fashion Association)는 그녀를 '가장 패셔너블한 선수'(Most Fashionable)로 칭했다. 생애 두 번째 올림픽 참가 직후인 1996년 9월 24일 최초로 은퇴를 선언하였다. 이후 12년만인 2008년 4월에 예상치 못한 복귀 선언을 하고 투어에 되돌아왔다. 2008년 6월 15일 도쿄 아리아케 인터내셔널 여자 오픈에서 복귀 후 첫 우승을 기록했으며, 2009년 9월 27일에는 한국에서 열린 한솔 코리아 오픈 대회에서 우승하면서 복귀 후 첫 WTA 투어급 대회 우승을 기록했다. 한숨 좀 작작 쉬어!"}],
 'title': '다테_기미코'}

In [6]:
common_sense['data'][0]['paragraphs'][0]['qas'][0]

{'question': '다테 기미코가 최초로 은퇴 선언을 한게 언제지',
 'answers': [{'answer_start': 260, 'text': '1996년 9월 24일'}],
 'id': '9_f2_wiki_2822-1'}

In [7]:
query = []
answer = []
for i in range(len(common_sense['data'])):
    query.append(common_sense['data'][i]['paragraphs'][0]['qas'][0]['question'])
    answer.append(common_sense['data'][i]['paragraphs'][0]['qas'][0]['answers'][0]['text'])

In [12]:
len(query)

68538

In [13]:
len(answer)

68538

In [18]:
common_sense_df = pd.DataFrame({'intent':['일반상식']*len(query), 'query':query, 'answer':answer})

In [20]:
common_sense_df.head()

  intent                      query          answer
0   일반상식  다테 기미코가 최초로 은퇴 선언을 한게 언제지    1996년 9월 24일
1   일반상식            ave;new 본거지 어디야         도쿄 치요다구
2   일반상식         사카이 다다요시의 아버지가 누구지  사카이 나오타카(酒井直隆)
3   일반상식              일반성면의 면적이 얼마야       19.41 km²
4   일반상식            금나라를 세운 사람이 누구야          태조 아구다

In [21]:
common_sense_df.tail()

,intent,query,answer
68533,일반상식,네 가지 베다의 주해서가 뭐야,브라마나
68534,일반상식,보안사 민간인 사찰 사건이 뭐야,1990년 보안사령부(현재의 기무사)에 근무하던 윤석양 이병이 보안사의 사찰 대상 ...
68535,일반상식,FM 음악도시의 1대 진행자는,신해철
68536,일반상식,파푸아뉴기니는 몇 개의 주가 있어,21개
68537,일반상식,메이저에서 고로가 미후네로 돌아와서 야구부가 아닌 축구부에 들어간 이유가 뭐야,후쿠오카 리틀리그에서 오른쪽 어깨에 부상을 입은 뒤로 야구부에 들어가지 않았다

In [24]:
common_sense_df.to_csv("../변형데이터/일반상식.csv", index=False)

## 네이버 영화 리뷰 csv로 변환

In [26]:
ratings = pd.read_csv("../원본데이터/ratings.txt", delimiter='\t')

In [27]:
ratings

              id                                           document  label
0        8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1        8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2        4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3        9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4       10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...          ...                                                ...    ...
199995   8963373                                     포켓 몬스터 짜가 ㅡㅡ;;      0
199996   3302770                                              쓰.레.기      0
199997   5458175                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998   6908648                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999   8548411                                    포풍저그가나가신다영차영차영차      0

[200000 rows x 3 columns]

In [28]:
ratings.to_csv("../변형데이터/영화리뷰.csv", index=False)